.btn-primary{
    position: relative;
}

header{
    position: relative;
}

header video{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.particles{
    position: absolute;
    left: calc(50% - 150px);
    top: calc(50% - 150px);
    width: 300px;
    height: 300px;
}

#contact{
    position: relative;
}

.formContainer{
    position: relative;
}

#viewport{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}