body{
    overflow-x: hidden;
}


header{
    position: relative;
}

.breathingAnimation{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: 0;
    transition: all 0.3s ease-in;
}


.breathingAnimationOn .breathingAnimation{
    opacity: 1;
}

/* particles */

.particleContainer{
    position: relative;
}

.particlesOn .particleContainer a{
    background: #eee3ff;
    color: #460b1b;
    position: relative;
    z-index: 2;
}

.particlesOn .particleContainer a:hover{
    background: #a494bd;
}


.particles{
    position: absolute;
    left: calc(50% - 150px);
    top: calc(50% - 150px);
    width: 300px;
    height: 300px;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
}

.particlesOn .particles{
    opacity: 1;
}

/* physics */

#contact{
    position: relative;
    padding-bottom: 0;
}

#contact .container{
    position: relative;
    z-index: 2;
}

#contact:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/concrete_seamless.png");
    z-index: 1;
}


.pjs-layer-main{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#physicsForm{
    background: rgba(0,255,0,0.3);
    padding-bottom: 10rem;
    width: 100%;
}

.formContainer{
    position: relative;
    /*margin-bottom: 10rem;*/
}

.formContainer label{
    margin: 0;
}

.formContainer .row{
    margin: 2rem;
}

.formContainer .col1{
    display: inline-block;
    width: 10rem;
    vertical-align: top;

}
.formContainer .col2{
    display: inline-block;
    width: 25rem;
}

.formContainer input{
    transition: none;
}


.formContainer .label, .formContainer .input{
    margin: 0;
}


#viewport{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

/* camera movement */

.shake .container{
    animation: shake 1s ease-in-out;
    overflow: hidden;
}

.shake:after{
    animation: shake 2s ease-in-out;
    overflow: hidden;
}

@keyframes shake{
    0% {
        transform: translateX(0) translateY(0);
    }
    10% {
        transform: translateX(6px) translateY(100px);
    }
    25% {
        transform: translateX(-7px) translateY(-50px);
    }
    45% {
        transform: translateX(4px) translateY(50px);
    }
    60% {
        transform: translateX(-2px) translateY(-10px);
    }
    75% {
        transform: translateX(0px) translateY(5px);
    }
    85% {
        transform: translateX(0) translateY(0);
    }
    100% {
        transform: translateX(0) translateY(0);
    }
}

/* options */

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

body:before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;

    background: rgba(255,255,255,0.9);

    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in;
}

body.showOptions:before{
    opacity: 1;
    pointer-events: all;
}

.optionsModal{
    position: fixed;
    left: 50%;
    top: 50%;
    width: 25rem;
    height: 16rem;
    z-index: 110;
    background: rgba(0,0,0,0.5);
    transform: translateX(-50%) translateY(-50%);
    border-radius: 3rem;

    padding: 1rem;
    color: white;
    font-family: "Open Sans";
    transition: all 0.3s ease-in;

    opacity: 0;
    pointer-events: none;
}

body.showOptions .optionsModal{
    opacity: 1;
    pointer-events: all;
}

.optionsModal .row{
    margin: 1rem;
}